---
import Layout from "../layouts/Layout.astro";
---

<Layout />
<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div>
      <h1 class="text-5xl font-bold">Step 1: Adding Inflows (Income)</h1>
      <ul class="pt-6 steps steps-horizontal lg:steps-horizontal">
        <li class="step step-accent">Add Inflows</li>
        <li class="step">Add Outflows</li>
        <li class="step">Look at How It's Going</li>
      </ul>
      <p class="py-6">
        This is your first stop. You will be adding The amount you have In your
        bank account on the left-most input area. You will be asked to also put
        in a date for the "As Of" date. This is when the charts and calculations
        will be based on.
      </p>
      <p class="pb-6">
        After you add in how much cash you have, you can go to the "Current
        Inflows" section to add your incomes. If you have two jobs, you can name
        each income something like: job 1 paycheck and job 2 paycheck. You can
        choose how often you get each paycheck as well. If you have a paycheck
        that comes on specific days of the month, you can choose "Fixed Days"
        which will give the ability to add specific days of the month that you
        can add (such as 7,22 which will have the paycheck come in on the 7th
        day of the month and the 22nd).
      </p>
    </div>
  </div>
</div>
<div class="hero bg-base-300 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div>
      <h1 class="text-5xl font-bold">Step 2: Adding Outflows (Expenses)</h1>
      <ul class="pt-6 steps steps-horizontal lg:steps-horizontal">
        <li class="step step-accent">Add Inflows</li>
        <li class="step step-accent">Add Outflows</li>
        <li class="step">Look at How It's Going</li>
      </ul>
      <p class="py-6">
        You'll be seeing red now. This step just has you entering different
        expenses you have and when they will occur. Just like in the Inflows
        section, there is an area where you can add the name, amount, date, and
        frequency of expenses. You can keep adding as many as you need.
      </p>
      <p class="pb-6">
        After you're satisfied (or whenever you would like!) you can save the
        expenses you have assuming they are properly inputted (we have some
        validation making sure the forms are filled out).
      </p>
    </div>
  </div>
</div>
<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div>
      <h1 class="text-5xl font-bold">
        Step 3: How It's Looking (Results/Charts)
      </h1>
      <ul class="pt-6 steps steps-horizontal lg:steps-horizontal">
        <li class="step step-accent">Add Inflows</li>
        <li class="step step-accent">Add Outflows</li>
        <li class="step step-accent">Look at How It's Going</li>
      </ul>
      <p class="py-6">
        This is (hopefully) the fun part. You get to look at a couple charts and
        tables to see the results from the previous two steps. The first one
        you'll see is the bar chart. This shows you the forecasted cash on hand
        for each day for the next 3 months. The first day on the chart was what
        was entered on the Inflows page in the "As Of" field. Update that to get
        an updated view of things.
      </p>
      <p class="pb-6">
        There is a dotted red line at the $500 level on the y axis. This is just
        a danger zone that can show you that your cash on hand level is getting
        near 0.
      </p>
      <p class="pb-6">
        If you scroll down, you'll notice a table with each of the
        income/expenses that you entered with how much they are for and when
        they occurred or will occur.
      </p>
    </div>
  </div>
</div>
<div class="hero bg-base-300 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div>
      <h1 class="text-5xl font-bold">
        Syncing With Different Browsers/Devices
      </h1>
      <p class="py-6">
        Because we are a local-only website, we don't have a good ability to
        sync data to other devices or browsers. We can't do that. We dont store
        your information so there would be nothing to tie your data to you.
        However, it is very handy to be able to access this same information on
        a phone, in a different browser, on someone else's phone or desktop, or
        anywhere else.
      </p>
      <p class="pb-6">
        To help with this, we give you the ability to save a small .json file
        which contains the data which populates the forms. This way you can
        always see what we are saving, but you can also send this file with who
        or what you want.
      </p>
      <p class="pb-6">
        You simply go to the settings page (the button below will take you
        there), click on the export button on the site where you have your all
        your information, choose a download location on the system prompt, and
        then you can send this file via email, Whatsapp, iMessage, text, Google
        Drive, DropBox.. anything you can transfer files with. Then on the new
        device/browser, click on the import button and choose the file that you
        transferred. And Voila! Your data will be populated on each page.
      </p>
      <p class="pb-6">
        If you no longer want to see the data, you can delete your inflows,
        outflows, and settings data. You will first be greeted with a modal
        (op-up) that confirms that you want to delete as we cannot recover any
        data unless you first exported and saved the file to your system.
      </p>
    </div>
  </div>
</div>
<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div>
      <h1 class="text-5xl font-bold">
        Syncing With Different Browsers/Devices
      </h1>
      <p class="py-6">
        Because we are a local-only website, we don't have a good ability to
        sync data to other devices or browsers. We can't do that. We dont store
        your information so there would be nothing to tie your data to you.
        However, it is very handy to be able to access this same information on
        a phone, in a different browser, on someone else's phone or desktop, or
        anywhere else.
      </p>
      <p class="pb-6">
        To help with this, we give you the ability to save a small .json file
        which contains the data which populates the forms. This way you can
        always see what we are saving, but you can also send this file with who
        or what you want.
      </p>
      <p class="pb-6">
        You simply go to the settings page inside the app, click on the export
        button on the site where you have your all your information, choose a
        download location on the system prompt, and then you can send this file
        via email, Whatsapp, iMessage, text, Google Drive, DropBox.. anything
        you can transfer files with. Then on the new device/browser, click on
        the import button and choose the file that you transferred. And Voila!
        Your data will be populated on each page.
      </p>
      <p class="pb-6">
        If you no longer want to see the data, you can delete your inflows,
        outflows, and settings data. You will first be greeted with a modal
        (op-up) that confirms that you want to delete as we cannot recover any
        data unless you first exported and saved the file to your system.
      </p>
    </div>
  </div>
</div>
<div class="hero bg-base-300 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div>
      <h1 class="text-5xl font-bold">Have Additional Questions?</h1>
      <p class="py-6">
        We want to make it as simple as possible to see your daily cashflow. If
        we didn't explain how to do just that, we will be happy to explain more!
        We will be adding in a contact sheet soon!
      </p>
    </div>
  </div>
</div>
