---
import { appURL } from "../shared/constants";
---

<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Personal Daily Cashflow</h1>
      <p class="py-6">
        See how your day-to-day finances are looking at a glance. We take
        privacy seriously. None of this information leaves your browser. Ever.
      </p>
      <div class="grid grid-cols-3 gap-2">
        <a href={appURL}
          ><button class="btn btn-accent rounded-2xl">Get Started</button></a
        >
        <a href="/about"
          ><button class="btn btn-primary rounded-2xl">About</button></a
        >
        <a href="/how-it-works"
          ><button class="btn btn-primary rounded-2xl">How it Works</button></a
        >
      </div>
      <div role="alert" class="alert alert-warning alert-soft mt-5">
        <span class="text-center"
          >For educational purposes only. Not financial, investment, legal,
          etc.. advice.</span
        >
      </div>
    </div>
  </div>
</div>
